@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

// heading

.hero {
  height: 811px;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 700px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 548px;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 58.09px;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 466px;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 359px;
            position: absolute;
            bottom: 0;
            right: 134px;
          }
        }
      }
    }
  }
}

.second{
  display: flex;
  .second-left{
    position: relative;
    width: 45%;
    margin-left: 50px;
    .block{
      background-color: $primary;
      height: 635px;
      width: 552px;
      position: absolute;
      left: 30px;
      top: 29px;
    }
    .video{
      height: 635px;
      width: 552px;
      position: relative;
      z-index: 1
    }

  }

  .second-right{
    width: 45%;
    margin-left: 120px;

    h1{
      width: 641px;
      height: 116px;
      font-size: 48px;
      line-height: 58.09px;
      font-weight: 700;
    }

    p{
      width: 572px;
      height: 120px;
      line-height: 21.78px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.report{
  width: 100%;
  height: 809px;
  background-color: $primary;
  .recent{
    width: 550px;
    height: 58px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    color: white;
    padding-left: 195px;
    padding-top: 50px;
  }

  .line{
    background-color: white;
    width: 110px;
    height: 11px;
    margin-left: 195px;
    margin-top: -20px;
  }

  .report-card{
    display: flex;
    justify-content: center;
    .recent-card{
      width: 300px;
      height: 424px;
      background-color: white;
      margin-top: 30px;
      border-radius: 5px;
      margin-left: 50px;
      img{
        padding: 10px 10px;
      }

      .pollution{
        font-weight: 400;
        margin-left: 10px;

      }

      .date{
        margin-left: 50px;
        color: #5e5e5e;
      }

      p{
        font-size: 15px;
        width: 274px;
        line-height: 18px;
        text-align: justify;
        margin-left: 10px;
      }
    }
  }
  .btn-more{
    margin: 80px;
    margin-left: 45%;
  }
}

.niger{
  width: 705px;
  height: 116px;
  font-size: 48px;
  margin-top: 50px;
  margin-left: 200px;
}

.niger-img{
  margin-left: 200px;
  img{
    margin: -10px -10px;
    
  }
}
footer {
  background-color: $primary;
  width: 100%;
  height: 92px;
  margin-top: 120px;
  p{
    color: white;
    text-align: center;
    padding-top: 50px;
  }
}